.apartment-info{
    font-size: 1.3rem;
    color: #215b75;
    font-weight: 400;
    font-style: normal;
    text-align: left;
    margin: 0;
}

.title{
    margin: 0;
    font-family: Imperial Script, cursive !important;
    font-size: 5rem  ;
    color: #215b75 !important;

}
@media(max-width: 991px){
    .title{
        font-size: 4rem ;
    }
    .apartment-info{
        font-size: 1.1rem;
    }

}


 
